* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  color: #ededed;
  background-color: #000;
}

/* Header-Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #051129; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 100;
  background: transparent;
}

.logo {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.8s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #012290f7;
}

/* Home-Section */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background:url() no-repeat; */
  /* background-color: black; */
  background-size: cover;
  background-position: center;
  padding: 30px 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 25px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #012290f7;
}

.home-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #012290f7;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  margin: 30px 15px 30px 0;
  color: #012290f7;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  transition: 0.5s ease;
}

.home-sci a :hover {
  background: #012290f7;
  color: #081b29;
  box-shadow: 0 0 20px #012290f7;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #012290f7;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
  box-shadow: 0 0 5px #012290f7, 0 0 25px #012290f7;
}

.btn-box:hover {
  box-shadow: 0 0 5px #012290f7, 0 0 25px #012290f7, 0 0 50px #012290f7, 0 0 100px #012290f7,
    0 0 200px #012290f7;
}

.img-sec {
  height: 450px;
  width: 450px;
  background: red;
  border-radius: 50%;
  /* border: 3px solid red; */
  overflow: hidden;
  box-shadow:1px 1px 20px #012290f7,
  1px 1px 40px #0053b8f7;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* About-Section */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100vh;
  padding: 30px 10%;
}

.about-img {
  height: 450px;
  width: 450px;
  background: red;
  border-radius: 50%;
  /* border: 3px solid red; */
  overflow: hidden;
  box-shadow: 1px 1px 20px #012290f7,
  1px 1px 40px #0053b8f7;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    width: 100%;
    height: auto;
    border-radius: 8px;
} */


.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #012290f7;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  /* line-height: 1.7; */
  margin: 15px 0 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 4rem;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


/* SERVICES */
#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  height: 100vh;
}

.container{
  padding: 90px;
}

.sub-title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.sub-title span{
  color: #012290f7;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}


.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  /* font-weight: 500; */
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s ,transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,
  1px 1px 40px #0053b8f7;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-align: none;
  color: #000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read{
  display: inline-block;
  padding: 12px 20px;
  background-color: #012290f7;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:0.5s;
  box-shadow: 0 0 5px #012290f7,
  0 0 25px ;
}

.read:hover{
   box-shadow: 0 0 5px #012290f7,
   0 0 25px #012290f7,
   0 0 50px #012290f7,
   0 0 100px #012290f7,
   0 0 200px #234acbf7;
}

.services-list div:hover{
  transform: translateY(-10px);
}