* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ededed;
  background-color: #000;
  overflow-x: hidden;
}

/* Header-Section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #051129; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 100;
  background: transparent;
}

.logo {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  color: blueviolet;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar {
  gap: 20px;
  display: flex;
  align-items: center;
}

#mobile {
  display: none;
  align-items: center;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  /* margin-left: 25px; */
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.8s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

#close-menu {
  display: none;
}

.navbar a:hover {
  color: blueviolet;
}

/* Home-Section */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background:url() no-repeat; */
  /* background-color: black; */
  background-size: cover;
  background-position: center;
  padding: 30px 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 25px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: blueviolet;
}

.home-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci {
  cursor: pointer;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid blueviolet;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  margin: 30px 15px 30px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
  transition: transform 0.5s;
}

.home-sci a:hover {
  box-shadow: 0 0 20px blueviolet;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: blueviolet;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
  box-shadow:
    0 0 5px blueviolet,
    0 0 25px blueviolet;

  text-align: center;
  cursor: pointer;
  align-self: flex-start;
}

.btn-box:hover {
  box-shadow:
    0 0 5px blueviolet,
    0 0 25px blueviolet,
    0 0 50px blueviolet,
    0 0 100px blueviolet,
    0 0 200px blueviolet;
}

.img-sec {
  height: 450px;
  width: 450px;
  background: red;
  border-radius: 50%;
  /* border: 3px solid red; */
  overflow: hidden;
  box-shadow:
    1px 1px 20px blueviolet,
    1px 1px 40px blueviolet;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* About-Section */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  min-height: 100vh;
  padding: 30px 10%;
}

.about-img {
  height: 450px;
  width: 450px;
  background: red;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
    1px 1px 20px blueviolet,
    1px 1px 40px blueviolet;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: blueviolet;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  margin: 15px 0 20px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.about-text h3 span {
  color: blueviolet;
  font-size: 20px;
  font-weight: 600;
}

.about-text h3 {
  margin-bottom: 2rem;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* SERVICES */
#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  height: auto;
}

.container {
  padding: 90px;
}

.sub-title {
  text-align: center;
  font-size: 60px;
}

.sub-title span {
  color: blueviolet;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 100px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  height: 250px;
  width: 250px;

  border-radius: 20px;
  transition:
    background 0.5s,
    transform 0.5s;
  box-shadow:
    1px 1px 20px blueviolet,
    1px 1px 40px blueviolet;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-align: none;
  color: #000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 20px;
  background-color: blueviolet;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
  box-shadow:
    0 0 5px blueviolet,
    0 0 25px;
}

.read:hover {
  box-shadow:
    0 0 5px blueviolet,
    0 0 25px blueviolet,
    0 0 50px blueviolet,
    0 0 100px blueviolet,
    0 0 200px blueviolet;
}

.services-list div:hover {
  transform: translateY(-10px);
}

/* Portfolio-Section */
.portfolio {
  height: auto;
  padding: 90px;
}

.sub-title{
  padding-bottom: 50px;
}

.container_projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  /* padding: 80px; */
}

.projects {
  background-color: transparent;
  font-size: 13px;
  padding: 40px;
  border-radius: 20px;
  box-shadow:
    1px 1px 20px blueviolet,
    1px 1px 40px blueviolet;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    background 0.5s,
    transform 0.5s;
}

.projects:hover {
  transform: translateY(-10px);
}

.project-img {
  height: 200px;
  margin-bottom: 20px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-content {
  margin-bottom: 10px;
}

.project-content h2 {
  color: blueviolet;
}

.project-info h4 span {
  color: blueviolet;
  font-size: 16px;
}

.project-info p span {
  color: blueviolet;
  font-size: 16px;
  font-weight: 600;
}

.project-info {
  margin-bottom: 20px;
}



/* Contact-Section */
.contact {
  min-height: 100vh;
  padding: 90px;
}

.contact-header {
  text-align: center;
  font-size: 60px;
}

.contact-header span {
  color: blueviolet;
}

.contact-intro {
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 0;
}

.contact-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  padding: 10px;
  align-self: self-start;
  margin-top: 70px;
  border: 1px solid blueviolet;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 1px 90px blueviolet;
  transition: transform 0.5s;
}

.contact-info:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.contact-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: 2px solid rgb(110, 10, 110);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  transition:
    background 0.5s,
    transform 0.5s;
}

.info .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.info .social-links h4 {
  margin-right: 10px;
}

.contact-form {
  padding: 20px;
  border: 1px solid blueviolet;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 1px 90px blueviolet;
  transition: transform ease 0.5s;
}

.contact-form:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form div {
  margin-bottom: 10px;
}

#name,
#email {
  padding: 8px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

label {
  margin-right: 10px;
}

#textarea {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

/* Footer-Section */
.footer {
  text-align: center;
  padding: 20px;
}

.social-links {
  cursor: pointer;
  margin-bottom: 10px;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid rgb(110, 10, 110);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  transition:
    background 0.5s,
    transform 0.5s;
}

.social-links a:hover {
  transform: translateY(-5px);
}

@media (max-width: 1024px) {
  /* Header */
  .header {
    padding: 15px 20px;
  }

  .navbar a {
    font-size: 16px;
    margin-left: 15px;
  }

  /* Home section */
  .home {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 120px;
  }

  .home-content {
    max-width: 100%;
  }

  .img-sec {
    width: 350px;
    height: 350px;
  }

  /* About section */
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-img {
    margin: 0 auto;
    width: 350px;
    height: 350px;
  }

  /* Contact */
  .contact-area {
    flex-direction: column;
    gap: 40px;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 100px;
    background-color: #000;
    box-shadow: 0px 40px 60px rgba(7, 4, 62, 0.8);
    padding: 60px 0 0 0;
    transition: 0.4s;
  }

  .navbar.active {
    right: 0px;
  }

  #close-menu {
    position: absolute;
    top: 30px;
    font-size: 20px;
    color: rgb(171, 164, 164);
    display: block;
  }

  #mobile {
    display: flex;
    align-items: center;
  }


  /* Home */
  .home {
    padding: 100px 5% 40px;
  }

  .home-content h1 {
    font-size: 28px;
  }

  .home-content h3 {
    font-size: 18px;
  }

  .home-content p {
    font-size: 16px;
  }

  .img-sec {
    width: 250px;
    height: 250px;
  }

  /* About */
  .about-text h2 {
    font-size: 36px;
  }

  .about-text h4 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 16px;
  }

  /* Services */
  .container {
    padding: 40px 20px 40px 80px;
  }

  .sub-title {
    font-size: 36px;
  }

  /* Portfolio */
  .portfolio {
    padding: 40px 20px;
  }

  /* Contact */
  .contact {
    padding: 40px 20px;
  }

  .contact-header {
    font-size: 36px;
  }

  .contact-intro {
    font-size: 16px;
    margin-top: 40px;
  }

  .form input,
  .form textarea {
    width: 100%;
  }
}
